 * {
     box-sizing: border-box;
 }
 body {
     font-family: FreeMono, monospace;
     background: #4DB6AC;

 }



 header {
 padding: 10px;
  text-align: center;
  background: #d1594e;
  color: white;
  font-size: 20px;

 }

header a:hover {
  outline: 0; /* or outline: none; */
  color:  transparent;
}
 header a {
     position: relative;
     top:50px;
     right:800px;
      padding: 20px;
      color:  transparent;
      
 }

  nav {
     font-size: 17px;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #e4a547;
 }

 nav a {
     color: black;
     display: block;
     text-align: center;
     padding: 14px 16px 14px;
     margin:5px;
     text-decoration: none;
     float: left;
 }

 nav a:hover {
     background-color: #d1594e;
     color: white;
 }

 .active {
     background-color: #4DB6AC;
     color: #000000;
 }
 nav .search-container button {
  float: right;
    margin-top: 4px;
  margin-right: 16px;
  background: #4DB6AC;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 30px; 
  height: 30px; 
}

nav input[type=text] {
  width: 300px; 
  height: 30px; 
  font-size: 20px;
  border: none;
  margin-top: 4px;
}
 nav .search-container {
  float: right;
}
@media screen and (max-width: 600px) {
  nav .search-container {
    float: none;
  }
  nav a, nav input[type=text], nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 8px;
  }
  nav input[type=text] {
    border: 1px solid #ccc;  
  }
}

 section p {
    font-size: 19;
    
 }
 label {
  font-size: 24;
 }
  input[type=text]{
     font-size: 24;
 }

.card-1 {
     background-color: #d1594e;
     padding: 10px;
     margin: 10px;
     padding-bottom: 175px;
     color:aliceblue;
     min-height: 100px;
     max-height: 420px;
 }

 .card-1 img {
     display: inline-flex;
     float: left;
     margin: 15px;
     margin-bottom: 100;
     margin-right: 40;
     border: 5px solid #676767;
     
 }

 .card-1 a {
     font-size: 20;
     color:rgb(162, 185, 219)
 }

 .card-1 p {
     font-size: 24;
 }

 .card-2 {
     background-color: #e4a547;
     padding: 5px;
     margin: 10px;
     padding-bottom: 100px;
      min-height: 300px;
     max-height: 400px;
    
 }
 .card-2 h2 {
     position: relative;
     float: left;

 }

 .card-2 img {
     display: inline-flex;
     float: right;
     margin: 15px;
     margin-bottom: 75;
     margin-left: 40;
     border: 5px solid #676767;
 }

 .card-2 a {

     font-size: 20;
     float: left;
 }

 .card-2 p {
   position: relative;
     font-size: 24;
     float: left;
 }


  footer {
     background-color: #d1594e;
     padding: 20px;
     text-align: center;
     color: white;
     margin-top: 20px;
 }

 .footer_link {
  color:aliceblue;
  font-size: 22;
  position: relative;
  right:200px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  
 }
 
 footer a {
     color: transparent;
      position: relative;
      right:500px;
      padding: 40px;

 }
 li {
  font-size: 20;
  padding:5px;
 }

